//import des styles
@use '../Variables/variables.scss';
@use '../Mixins/mixins.scss';
//import fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quintessential&display=swap');

// le global est comme le reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
.main-content {
  flex: 1;
}


.App {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  padding: 0;
}
