@use '../../../styles/Variables/variables.scss';

.toggle-read-btn{
  padding: 5px 5px;
  font-size: 16px;
  color: variables.$brown-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  input[type="checkbox"] {
    width: 10px;
    height: 10px;
    pointer-events: none;
  }
  
}
.toggle-read-btn.read {
  color: #2ecc40;
}
  


